<div class="content">
    @if (showAvatar()) {
        <okd-avatar
            [avatarCode]="user().avatar"
            [seed]="user().hashId"
            [size]="24"
            sizeUnit="px"
            [title]="user().name"
            data-testid="fragment-avatar"
        />
    }

    @if (showActions()) {
        <button
            mat-icon-button
            [matMenuTriggerFor]="editFragment"
            title="Modificar"
            [disabled]="disabled()"
            data-testid="fragment-actions-button"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    }
</div>

<mat-menu #editFragment="matMenu">
    <button mat-menu-item (click)="edit.emit()" data-testid="fragment-edit-button">
        <mat-icon>edit_note</mat-icon>
        <span>Editar</span>
    </button>

    <button mat-menu-item (click)="delete.emit()" data-testid="fragment-delete-button">
        <mat-icon>remove</mat-icon>
        <span>Remover</span>
    </button>
</mat-menu>
