# Copie ou renomeie o arquivo atual para .env e siga as instruções abaixo.

# Escolha os recursos que deseja usar:
# Bancos de dados disponíveis: sqlserver, sqlite, postgres
FeatureFlags__Database=sqlserver

# Habilita Redis como cache. Se false, o cache será em memória
FeatureFlags__UseRedis=true

# Habilita Seq como servidor de logs. Se false, o log será enviado para o console
FeatureFlags__UseSeq=true

# Estes são os containers que são ativados dinamicamente no Docker.
# Remova os que não for usar de acordo com as escolhas acima.
COMPOSE_PROFILES=sqlserver,postgres,redis,seq

# Os IDs são ofuscados antes de serem enviados ao front com o salt abaixo.
# Ao alterar, os links que fazem referência aos IDs ofuscados atuais ficarão inválidos.
# Nota: isso previne enumeração por IDs, mas não é um recurso de segurança.
Hashids__Salt=SALT


# Estas são as opções de conexão, remova as que não for usar e configure as outras de acordo:
ConnectionStrings__Redis=redis:6379
ConnectionStrings__Seq=http://seq:80
ConnectionStrings__Sqlite=Data Source=/home/data/database.sqlite

# SQL Server
ConnectionStrings__SqlServer=Server=YOUR_SERVER;Database=YOUR_DB;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True;
ConnectionStrings__SqlServerAdmin=Server=YOUR_SERVER;Database=YOUR_DB;User Id=sa;Password=YOUR_ADMIN_PASSWORD;TrustServerCertificate=True;
MSSQL_SA_PASSWORD=YOUR_ADMIN_PASSWORD

# Postgres
ConnectionStrings__Postgres=Host=postgres;Database=YOUR_DB;Username=YOUR_USER;Password=YOUR_PASSWORD
ConnectionStrings__PostgresAdmin=Host=postgres;Database=YOUR_DB;Username=YOUR_ADMIN_USER;Password=YOUR_ADMIN_PASSWORD
POSTGRES_DB=YOUR_DB
POSTGRES_USER=YOUR_ADMIN_USER
POSTGRES_PASSWORD=YOUR_ADMIN_PASSWORD