# Copie ou renomeie o arquivo atual para .env
# Caso não use determinado recurso, pode remover as respectivas variáveis

### APLICAÇÃO ###

# O projeto cria o diretório /home/data e altera suas permissões. Caso configure sqlite, dê ctrl F e altere todas as referências.
ConnectionStrings__Sqlite=Data Source=/home/data/database.sqlite
ConnectionStrings__SqlServer=Server=YOUR_SERVER;Database=YOUR_DB;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True;
ConnectionStrings__SqlServerAdmin=Server=YOUR_SERVER;Database=YOUR_DB;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;
ConnectionStrings__Postgres=Host=postgres;Database=YOUR_DB;Username=YOUR_USER;Password=YOUR_PASSWORD
ConnectionStrings__PostgresAdmin=Host=postgres;Database=YOUR_DB;Username=YOUR_USER;Password=YOUR_PASSWORD
ConnectionStrings__Redis=redis:6379
ConnectionStrings__Seq=http://seq:80

# Database: sqlserver, sqlite, postgres
FeatureFlags__Database=sqlserver
FeatureFlags__UseRedis=true
FeatureFlags__UseSeq=true

Hashids__Salt=SALT


### COMPOSE ###

# Containers serão habilitados dinamicamente. Deve ser separado por vírgula:
# Banco de dados: sqlserver, postgres. Caso prefira sqlite, não adicione.
# Cache: redis. Não adicione para desativá-lo.
# Log: seq. Não adicione para desativá-lo.

COMPOSE_PROFILES=sqlserver,redis,seq

# SQL Server
MSSQL_SA_PASSWORD=YOUR_PASSWORD

# PostgreSQL
POSTGRES_DB=YOUR_DB
POSTGRES_USER=YOUR_ADMIN_USER
POSTGRES_PASSWORD=YOUR_ADMIN_PASSWORD
