## Dados sensíveis
.env
*.user
*.userosscache
*.sln.docstates
usersecrets.json

## .NET / Visual Studio
bin/
obj/
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
_ReSharper*/
[Tt]est[Rr]esult*/

## Pacotes
*.nupkg
/packages
/.nuget

## Docker
.dockerignore
sql_data/

## Sistema
.DS_Store
Thumbs.db
