:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    .list {
        height: 100%;
        overflow-y: auto;

        .active {
            background-color: var(--mat-sys-secondary-container);
            color: var(--mat-sys-on-secondary-container);
        }
    }
}
