<section class="talk">
    <okd-chat-viewport />
</section>
<section class="message-editor">
    <mat-form-field appearance="outline" class="message-field" subscriptSizing="dynamic">
        <textarea
            matInput
            [(ngModel)]="message"
            [maxLength]="maxLength"
            (keydown.enter)="onPressEnter($event)"
            data-testid="message-input"
            [disabled]="!connected()"
        ></textarea>
    </mat-form-field>
    <button
        mat-mini-fab
        class="send-button"
        (click)="sendMessage()"
        data-testid="send-button"
        [disabled]="!connected()"
    >
        <mat-icon class="icon">send</mat-icon>
    </button>
</section>
