:host {
    $gap: 0.5rem;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-top: $gap 0 $gap $gap;

    section.talk {
        flex: 1;
        min-height: 0;
        max-height: 100%;
    }

    section.message-editor {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        gap: $gap;
        padding: $gap;
        padding-top: 4px;

        .message-field {
            flex: 1;

            mat-form-field {
                width: 100%;
            }

            textarea {
                height: 2lh;
                resize: none;
                width: 100%;
            }
        }

        .send-button {
            .icon {
                $iconSize: 24px;
                width: $iconSize;
                height: $iconSize;
                font-size: $iconSize;
            }
        }
    }
}
