<mat-toolbar>
    <div class="toolbar-content max-width">
        <div class="title">{{ document().title }}</div>

        @if (editModeEnabled()) {
            <button mat-icon-button (click)="editModeEnabled.set(false)">
                <mat-icon>edit_off</mat-icon>
            </button>
        } @else {
            <button mat-icon-button (click)="editModeEnabled.set(true)">
                <mat-icon>edit</mat-icon>
            </button>
        }

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item>
        <span>Renomear</span>
    </button>

    <button mat-menu-item>
        <span>Excluir</span>
    </button>
</mat-menu>

<div class="main-content">
    @if (!editModeEnabled() && document().fragments.length === 0) {
        <okd-info-box icon="edit_document">Está vazio</okd-info-box>
    } @else {
        <article class="max-width">
            @if (editModeEnabled() && !isEditingFragment()) {
                <okd-article-fragment-actions
                    [fragment]="null"
                    [isLoading]="isLoading()"
                    (create)="addFragment($event, null)"
                />
            }

            @for (fragment of document().fragments; track fragment.hashId) {
                @switch (fragment.type) {
                    @case (FragmentType.Markdown) {
                        <okd-article-markdown-fragment
                            [fragment]="asMarkdown(fragment)"
                            [isEditing]="editingFragmentId() === fragment.hashId"
                        />
                    }
                    @case (FragmentType.Image) {
                        <okd-article-image-fragment
                            [fragment]="asImage(fragment)"
                            [isEditing]="editingFragmentId() === fragment.hashId"
                        />
                    }
                    @case (FragmentType.Embed) {
                        <okd-article-embed-fragment
                            [fragment]="asEmbed(fragment)"
                            [isEditing]="editingFragmentId() === fragment.hashId"
                        />
                    }
                }

                @if (editModeEnabled() && !isEditingFragment()) {
                    <okd-article-fragment-actions
                        [fragment]="fragment"
                        [isLoading]="isLoading()"
                        (create)="addFragment($event, fragment)"
                        (edit)="edit(fragment.documentHashId)"
                        (delete)="delete(fragment)"
                    />
                }
            }
        </article>
    }
</div>
