<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <okd-brand />

    <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="username">
        <mat-icon matPrefix>person</mat-icon>

        @if (usernameError) {
        <mat-error>{{usernameError}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <mat-icon matPrefix>key</mat-icon>
        <input matInput type="password" formControlName="password">

        @if (passwordError) {
        <mat-error>{{passwordError}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Manter logado</mat-label>
        <mat-select formControlName="storage">
            <mat-option [value]="AuthStorage.LocalStorage">No navegador</mat-option>
            <mat-option [value]="AuthStorage.SessionStorage">Na aba atual</mat-option>
        </mat-select>
        <mat-icon matPrefix>login</mat-icon>
    </mat-form-field>

    <div class="button-group">
        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading()">
            {{ isLogin? 'Entrar' : 'Cadastrar' }}
        </button>
        <button mat-button type="button" (click)="isLogin = !isLogin" [disabled]="isLoading()">
            {{ isLogin ? 'Não tem conta?' : 'Possui conta?' }}
        </button>
    </div>
</form>