:host {
    display: block;

    iframe {
        display: block;
        max-width: 100%;
        max-height: 90vh;
        margin: 0 auto;

        &.vertical {
            aspect-ratio: 9/16;
        }

        &:not(.vertical) {
            aspect-ratio: 16/9;
        }
    }

    mat-form-field {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}
