@if (!url()) {
    <mat-card>
        <mat-card-content>
            @if (fragment().url === '') {
                Registro de conteúdo incompleto
            } @else {
                Endereço não reconhecido: <br />
                {{ fragment().url }}
            }
        </mat-card-content>
    </mat-card>

    <p>Endereço não suportado</p>
} @else {
    <iframe
        [src]="url()"
        [class.vertical]="isVertical()"
        frameborder="0"
        allow="picture-in-picture"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
    ></iframe>
}
