@mixin layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    mat-form-field {
        width: 100%;
        margin: 4px 0;
    }

    .form-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.5rem;
    }

    .button-group,
    .button-group-space-between {
        display: flex;
        gap: 8px;
        width: 100%;
    }

    .button-group-space-between {
        justify-content: space-between;
    }
}
