<okd-reconnection-overlay>
    <div class="main-wrapper">
        <nav class="icon-rail">
            <okd-brand [compact]="true" />
            <button
                mat-icon-button
                title="Documentos"
                (click)="toggleActivePanel('documents')"
                [class.active]="activeButton() === 'documents'"
            >
                <mat-icon>notes</mat-icon>
            </button>
            <button
                mat-icon-button
                title="Chat"
                (click)="toggleActivePanel('chat')"
                [class.active]="activeButton() === 'chat'"
                matBadge="&ZeroWidthSpace;"
                matBadgeSize="small"
                [matBadgeHidden]="!hasUnreadMessage()"
            >
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button
                mat-icon-button
                title="Debug"
                (click)="toggleActivePanel('debug')"
                [class.active]="activeButton() === 'debug'"
            >
                <mat-icon>bug_report</mat-icon>
            </button>
            <div class="spacer"></div>
            <a mat-icon-button [routerLink]="accountSettingsPath" title="Configurar perfil">
                <mat-icon>person_edit</mat-icon>
            </a>
            <button mat-icon-button (click)="logout()" title="Sair">
                <mat-icon>logout</mat-icon>
            </button>
        </nav>

        <mat-sidenav-container>
            <mat-sidenav
                [mode]="isMobile() ? 'over' : 'side'"
                [opened]="activePanel()"
                (closedStart)="sidenavClosing.set(true)"
                (closed)="onSidenavClosed()"
            >
                <okd-document-index [hidden]="activePanel() !== 'documents'" />
                <okd-chat-view [hidden]="activePanel() !== 'chat'" />
                <okd-debug-viewer [hidden]="activePanel() !== 'debug'" />
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet />
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</okd-reconnection-overlay>
