@use 'index' as *;

:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-content {
        display: flex;
        flex-direction: row;
        flex: 1;
        min-height: 0;
        max-height: 100%;
    }

    @include breakpoint('small-medium') {
        .main-content {
            section {
                &.hidden-mobile {
                    display: none;
                }

                &:not(.hidden-mobile) {
                    flex: 1;
                }
            }
        }
    }

    @include breakpoint('large') {
        .main-content {
            section.editor {
                flex: 1;
            }

            section.chat {
                width: 400px;
            }
        }
    }
}