@use 'mixins/breakpoints' as *;
@use 'mixins/navigation' as nav;

:host {
    .main-wrapper {
        display: flex;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .icon-rail {
        @include nav.background;
        @include nav.border-right;

        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        flex-direction: column;
        align-items: center;

        padding: 0.5rem;
        padding-top: 1rem;

        .spacer {
            flex: 1;
        }

        [mat-icon-button].active {
            background-color: var(--mat-sys-secondary-container);
            color: var(--mat-sys-on-secondary-container);
        }
    }

    mat-sidenav-container {
        flex: 1;

        mat-sidenav {
            @include nav.background;
            width: 300px;

            @include breakpoint('large') {
                border-radius: 0;
                @include nav.border-right;
            }
        }
    }
}
