<okd-main-header>
    @if (isMobile()){
        <button mat-icon-button (click)="toggleSection()">
            <mat-icon>{{activeSection() === 'editor' ? 'chat_bubble_outline' : 'edit_note'}}</mat-icon>            
        </button>
    }
</okd-main-header>


<div class="main-content">
    <section class="editor" [class.hidden-mobile]="isMobile() && activeSection() !== 'editor'">
        <router-outlet />
    </section>
    
    <section class="chat" [class.hidden-mobile]="isMobile() && activeSection() !== 'chat'">
        <okd-chat />
    </section>
</div>
