:host {
    .scroll-container {
        scrollbar-gutter: stable;
        overflow-y: auto;
        height: 100%;
    }

    .messages {
        padding: 0.5rem;

        .separator {
            height: 1em;
        }
    }
}
