<section class="talk">
    <okd-fragment-collection type="chat"/>
</section>
<section class="message-area">
    <mat-form-field appearance="outline" class="message-field" subscriptSizing="dynamic" >
        <textarea matInput
        [(ngModel)]="message"
        [maxLength]="maxLength"
        (keydown.enter)="onPressEnter($event)"
        ></textarea>
    </mat-form-field>
    <button mat-icon-button class="send-button" [disabled]="!canSend()" (click)="sendMessage()">
        <mat-icon class="icon">send</mat-icon>
    </button>
</section>