<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Senha atual</mat-label>
        <input matInput password formControlName="currentPassword">
        
        @if (currentPasswordError) {
            <mat-error>{{currentPasswordError}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nova senha</mat-label>
        <input matInput password formControlName="newPassword">
        
        @if (newPasswordError) {
            <mat-error>{{newPasswordError}}</mat-error>
        }
    </mat-form-field>

         
    <div class="button-group">
        <button mat-stroked-button type="submit" [disabled]="formGroup.invalid || authHandler.loading()">
            Salvar
        </button>
    </div>
</form>