:host {
    display: flex;
    flex-direction: row;
    line-height: 1.25rem;

    section.avatar {
        width: 2.5rem;
    }

    section.message {
        flex: 1;
        min-width: 0;
        margin-left: 0.5rem;

        .name {
            display: block;
            white-space: nowrap;
            text-overflow: clip;
            font-weight: bold;
        }

        .text {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }
}
