:host {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    user-select: none;
    pointer-events: none;
    user-select: none;

    .name1 {
        color: firebrick;
    }

    &:not(.compact) {
        font-size: 36px;
        font-style: italic;
    }

    &.compact {
        font-size: 24px;
    }
}