<mat-toolbar color="primary" class="main-toolbar">
    <okd-brand [compact]="true"/>
    <ng-content></ng-content>
    <span class="header-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="goToSettings()">
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>
