:host {
    .main-toolbar {
        $gap: 4px;

        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: $gap;

        background-color: var(--mat-sys-surface-container);
        border-bottom: 1px solid var(--mat-sys-outline-variant);
        box-shadow: var(--mat-sys-elevation-level1);

        .align-left {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            gap: $gap;
        }

        .align-center {
            display: flex;
            justify-content: center;
            flex: 2;
            min-width: 0;
            gap: $gap;
        }

        .align-right {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            gap: $gap;
        }
    }

    .brand {
        padding-right: 8px;
        text-decoration: none;

        &,
        & > * {
            cursor: pointer;
        }
    }
}
