:host {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .page-content {
        padding: 1rem;
        flex: 1;
        min-height: 0px;
        overflow-y: auto;
        scrollbar-gutter: stable;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .content {
            width: min(800px, 100%);
            margin: 0 auto;
        }
    }

    .session-list {
        .session-item {
            display: flex;
            gap: 1rem;
            align-items: center;

            .device-name {
                flex: 1;
            }
        }
    }
}